@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*Reset do CSS*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Configurações Gerais */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:"Outfit", sans-serif;
}

header {
    background-color: rgb(105, 132, 221);
    color:  rgb(255, 255, 255);
    margin: 20px;
    padding: 40px;
    text-align: center;
}

main {
    background-color: rgb(250, 248, 255);
    flex: 1;
    padding: 48px 38px;
    width: 100%;
}

about-section {
    display: block;
    background-color: rgb(215, 220, 253);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 15px;
}

#titulo-sobre-mim {
    font-size: 23px;
    border-bottom: 2px solid rgb(129, 143, 218);
}

.texto-sobre-mim {
    font-size: 16px;
}